@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.titleani .slick-prev:before,
.titleani .slick-next:before
{
   content: 'kelly';
   font-size
;
   font-size: 14px;
   height: 20px;
   display: block;
   color: #000000ab;
   width: 90px;
   border-color: #fff;
   line-height: 1.5;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.titleani .slick-prev:before
{
    content: '하이트';
}
[dir='rtl'] .titleani .slick-prev:before
{
    content: '하이트';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    left: -25px;
    right: auto;
}
.titleani .slick-next:before
{
    content: 'TERRA';
    position: absolute;
    right: 55px;
    line-height: 0;
}
[dir='rtl'] .slick-next:before
{
    content: '테라';
}

/* titleani Dots */
.titleani .slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: white;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 4.5;
    padding-left: 3px;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: white;

}

/* snsani dots */
.snsani .slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.snsani .slick-dots
{
    /*! position: absolute; */
    bottom: 11px;

    display: block;

    width: 100%;
    /*! padding: 0; */
    /*! margin: 0; */

    list-style: none;

    text-align: center;
}
.snsani .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0;

    cursor: pointer;
}
.snsani .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: black;
    border: 0;
    outline: none;
}
.snsani .slick-dots li button:hover,
.snsani .slick-dots li button:focus
{
    outline: none;
}
.snsani .slick-dots li button:hover:before,
.snsani .slick-dots li button:focus:before
{
    opacity: 1;
}
.snsani .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 14.5px;
    line-height: 0;

    position: absolute;
    top: -20px;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 0.55;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    l
    padding-left: 3px;
}
.snsani .slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;

}